<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>Agregar informacion</title>
</head>
<body>
<section th:fragment="agregarInformacion">
  <div id="agregarInformacion" class="modal fade">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header bg-info text-white">
          <h5 class="modal-title" th:text="#{accion.agregarInformacion}">Información</h5>
          <button class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <form  action="#" enctype="multipart/form-data" th:action="@{/guardarInformacion}" th:object="${informacion}"
           method="post" class="was-validated">
              <div class="modal-body">
                <div class="form-group">
                  <label for="titulo">[[#{informacion.titulo}]]</label>
                  <input type="text" class="form-control" name="titulo" required="true">
                </div>
              </div>
              <div class="row" style="margin: 1em;">
                <div class="col-sm-2">
                  <label for="fileUpload">Upload a New File:</label>
                </div>
                <div class="col-sm-6">
                  <input type="file" class="form-control-file" id="fileUpload" name="fileUpload">
                </div>
                <div class="col-sm-4">
                  <button type="submit" class="btn btn-dark">Upload</button>
                </div>
              </div>
          <div class="modal-footer">
            <button class="btn btn-primary" type="submit" th:text="#{accion.guardar}">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
</body>
</html>