<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Agregar solicitud</title>
</head>
<body>
<section th:fragment="agregarSolicitud">
    <div id="agregarSolicitud" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-info text-white">
                    <h5 class="modal-title" th:text="#{accion.agregarSolicitud}">Agregar Solicitud</h5>
                    <button class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <form th:action="@{/guardarSolicitud}" th:object="${solicitud}"
                      method="post" class="was-validated">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="observaciones">[[#{solicitud.observaciones}]]</label>
                            <input type="text" class="form-control" name="observaciones" required="true">
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-primary" type="submit" th:text="#{accion.guardar}">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
</body>
</html>