<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Agregar trabajador</title>
</head>
<body>
    <section th:fragment="agregarTrabajador">
        <div id="agregarTrabajador" class="modal fade">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header bg-info text-white">
                        <h5 class="modal-title" th:text="#{accion.agregar}">Agregar Trabajador</h5>
                        <button class="close" data-dismiss="modal">
                            <span>&times;</span>
                        </button>
                    </div>
                    <form th:action="@{/guardarTrabajador}" th:object="${trabajador}"
                          method="post" class="was-validated" id="frmAgregaTrabajador">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="nombre" th:text="#{persona.nombre}">Nombre</label>
                                <input type="text" class="form-control" name="nombre" required="true">
                            </div>
                            <div class="form-group">
                                <label for="apPaterno" th:text="#{persona.apPaterno}">Apellido paterno</label>
                                <input type="text" class="form-control" name="apPaterno" required="true">
                            </div>
                            <div class="form-group">
                                <label for="apMaterno" th:text="#{persona.apMaterno}">Apellido materno</label>
                                <input type="text" class="form-control" name="apMaterno" required="true">
                            </div>
                            <div class="form-group">
                                <label for="email" th:text="#{persona.email}">Email</label>
                                <input type="email" class="form-control" name="email" required="true">
                            </div>
                            <div class="form-group">
                                <label for="matricula">Matricula:</label>
                                <input type="text" class="form-control" name="matricula"  required="true"/>
                            </div>
                            <div class="form-group">
                                <label for="categoria">Categoría:</label>
                                <input type="text" class="form-control" name="categoria" required="true"/>
                            </div>
                            <div class="form-group">
                                <label for="sueldoQuincenal">Sueldo quincenal:</label>
                                <input type="number" class="form-control" name="sueldoQuincenal" step="any" required="true"/>
                            </div>
                            <div class="form-group">
                                <label for="horarioDiscontinuo">Horario discontinuo:</label>
                                <input type="checkbox" class="form-control" name="horarioDiscontinuo" checked="false"/>
                            </div>
                            <div class="form-group">
                                <label for="calle">Calle:</label>
                                <input type="text" class="form-control" name="calle" required="true"/>
                            </div>
                            <div class="form-group">
                                <label for="colonia">Colonia:</label>
                                <input type="text" class="form-control" name="colonia" required="true"/>
                            </div>
                            <div class="form-group">
                                <label for="codigoPostal">Código postal:</label>
                                <input type="text" class="form-control" name="codigoPostal" required="true"/>
                            </div>
                            <div class="form-group">
                                <label for="municipio">Municipio:</label>
                                <input type="text" class="form-control" name="municipio" required="true"/>
                            </div>
                            <div class="form-group">
                                <label for="estado">Estado:</label>
                                <input type="text" class="form-control" name="estado"  required="true"/>
                            </div>
                            <div class="form-group">
                                <label for="telefono">Teléfono:</label>
                                <input type="text" class="form-control" name="telefono" />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" type="button" th:text="#{accion.guardar}" id="btnAgregaTrabajador">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>
</html>