<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Botones Agregar</title>
</head>
<body>
    <section th:fragment="botonAgregarSolicitud" class="py-4 mb-4 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <a href="#" class="btn btn-primary btn-block" data-toggle="modal" data-target="#agregarSolicitud">
                        <i class="fas fa-plus"></i> [[#{accion.agregarSolicitud}]]
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section th:fragment="agregarInformacion" class="py-4 mb-4 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <a href="#" class="btn btn-primary btn-block" data-toggle="modal" data-target="#agregarInformacion">
                        <i class="fas fa-plus"></i> [[#{accion.agregarInformacion}]]
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section th:fragment="botonSeccionSolicitud" class="py-4 mb-4 bg-light" >
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <a th:href="@{/solicitud/}+ ${trabajador.idTrabajador}"
                       class="btn btn-success">
                        <i class="fas fa-sticky-note"></i> [[#{accion.seccionSolicitud}]]
                    </a>
                </div>
                <div class="col-md-3">
                    <a th:href="@{/informacion/} + ${trabajador.idTrabajador}"
                       class="btn btn-info">
                        <i class="fas fa-info-circle"></i> [[#{accion.informacion}]]
                    </a>
                </div>
                <div class="col-md-3">
                    <a th:href="@{/editarTrabajador/}+ ${trabajador.idTrabajador}"
                       class="btn btn-danger">
                        <i class="fas fa-edit"></i> [[#{accion.editarPerfiles}]]
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section th:fragment="botonesAgregar" class="py-4 mb-4 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <a href="#" class="btn btn-primary btn-block" data-toggle="modal" data-target="#agregarTrabajador">
                        <i class="fas fa-plus"></i> [[#{accion.agregar}]]
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section th:fragment="botonesAgregarLogin" class="py-4 mb-4 bg-light">
        <div class="container">
            <div class="row">
                <a href="#" class="btn btn-light btn-block" data-toggle="modal" data-target="#agregarTrabajador">
                    <i class="fas fa-plus"></i> [[#{accion.registrar-trabajador}]]
                </a>
            </div>
        </div>
    </section>
</body>
</html>