<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Listado de solicitudes</title>
</head>
<body>
<section th:fragment="listadoSolicitudes" id="solicitudes">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4>[[#{solicitud.titulo-lista}]]</h4>
                    </div>
                    <div th:if="${solicitudes != null and !solicitudes.empty}">
                        <table class="table table-stryped" id="lista-solicitudes">
                            <thead class="thead-dark">
                            <tr>
                                <th>Numero de control</th>
                                <th>Fecha de solicitud</th>
                                <th>Observaciones</th>
                                <th>Formato</th>
                                <th>Editar</th>
                                <th>Eliminar</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="solicitud, contador : ${solicitudes}">
                                <td th:text="${solicitud.idSolicitud}"></td>
                                <td th:text="${solicitud.fecha}"></td>
                                <td th:text="${solicitud.observaciones}"></td>
                                <td>
                                    <a th:href="@{/reporteSolicitud/} + ${solicitud.idSolicitud}"
                                       class="btn btn-secondary">
                                        <i class="fas fa-download"></i> [[#{accion.descargar}]]
                                    </a>
                                </td>
                                <td>
                                    <a th:href="@{/editarSolicitud/} + ${solicitud.idSolicitud}"
                                       class="btn btn-secondary">
                                        <i class="fas fa-angle-double-right"></i> [[#{accion.editar}]]
                                    </a>
                                </td>
                                <td>
                                    <a th:href="@{/eliminarSolicitud/} + ${solicitud.idSolicitud}"
                                       class="btn btn-dark">
                                        <i class="fas fa-angle-double-right"></i> [[#{accion.eliminar}]]
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="text-center p-2" th:if="${solicitudes == null or solicitudes.empty}">
                        <span th:text="#{persona.lista-vacia}">Lista vacía</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>