<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Listado de solicitudes</title>
</head>
<body>
<section th:fragment="listadoInformacion" id="informacion">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4>[[#{informacion.titulo-lista}]]</h4>
                    </div>
                    <div th:if="${message}" class="alert alert-success">
                        <span th:text="${message}"></span>
                    </div>
                    <div th:if="${messageError}" class="alert alert-danger">
                        <span th:text="${messageError}"></span>
                    </div>
                    <div th:if="${informacion != null and !informacion.empty}">
                        <table class="table table-stryped" id="lista-informacion">
                            <thead class="thead-dark">
                            <tr>
                                <th>Numero de control</th>
                                <th>Fecha de publicacion</th>
                                <th>Titulo</th>
                                <th>Formato</th>
                                <th sec:authorize="hasRole('ROLE_ADMIN')" >Eliminar</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="info, contador : ${informacion}">
                                <td th:text="${info.idInformacion}"></td>
                                <td th:text="${info.fecha}"></td>
                                <td th:text="${info.titulo}"></td>
                                <td>
                                    <a th:href="@{/descargaInformacion/} + ${info.idInformacion}"
                                       class="btn btn-secondary">
                                        <i class="fas fa-download"></i> [[#{accion.descargar}]]
                                    </a>
                                </td>
                                <td>
                                    <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/eliminarInformacion/} + ${info.idInformacion}"
                                       class="btn btn-dark">
                                        <i class="fas fa-angle-double-right"></i> [[#{accion.eliminar}]]
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="text-center p-2" th:if="${informacion == null or informacion.empty}">
                        <span th:text="#{informacion.lista-vacia}">Lista vacía</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>