<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>IMSS220 Trámites y avisos - SNTSS Sección 37 Estado de México</title>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}">
    <!--<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <script rel="stylesheet" th:href="@{/webjars/jquery/jquery.min.js}" ></script>
    <script rel="stylesheet" th:href="@{/webjars/popper.js/umd/popper.min.js}" ></script>
    <script rel="stylesheet" th:href="@{/webjars/bootstrap/js/bootstrap.min.js}" ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <!--Baner-->
    <link rel="stylesheet" type="text/css" href="css/layout.css" />
    <link rel="stylesheet" type="text/css" href="css/style1.css" />
    <link rel="stylesheet" type="text/css" href="pro_dropdown_3/pro_dropdown_3.css" />
    <script language="javascript" type="text/javascript" src="js/jquery.js"></script>
    <script language="javascript" type="text/javascript" src="js/jquery.easing.js"></script>
    <script language="javascript" type="text/javascript" src="js/script.js"></script>
    <script type="text/javascript">
 $(document).ready( function(){
		// buttons for next and previous item
		var buttons = { previous:$('#jslidernews1 .button-previous') ,
						next:$('#jslidernews1 .button-next') };
		 $('#jslidernews1').lofJSidernews( { interval : 7000,
											direction		: 'opacitys',
											easing			: 'easeInOutExpo',
											duration		: 1200,
											auto		 	: true,
											maxItemDisplay  : 7,
											navPosition     : 'horizontal', // horizontal
											navigatorHeight : 32,
											navigatorWidth  : 80,
											mainWidth		: 980,
											buttons			: buttons } );
	});
</script>
</head>

<body>
    <section th:fragment="sec_login" id="login">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card">
                        <div class="card-header">
                            <h3>Login</h3>
                        </div>
                        <div class="card-body">
                            <form method="post" th:action="@{/login}">
                                <div th:if="${messageOK}" class="alert alert-success">
                                    <span th:text="${messageOK}"></span>
                                </div>
                                <div th:if="${message}" class="alert alert-danger">
                                    <span th:text="${message}"></span>
                                </div>
                                <div  id="error-msg" th:if="${param.error}" class="alert alert-danger">
                                    Nombre de usuario y/o password invalidos
                                </div>
                                <div class="form-group">
                                    <label for="username">Usuario:</label>
                                    <input type="text" name="username" id="username"/>
                                </div>
                                <div class="form-group">
                                    <label for="password">Contraseña:</label>
                                    <input type="password" name="password" id="password"/>
                                </div>
                                <input type="submit" value="Login" class="btn btn-primary btn-block"/>
                            </form>
                            <section th:replace="layout/botonesAgregar :: botonesAgregarLogin"></section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section th:fragment="otros-anuncios">
        <div class="d-flex justify-content-center">
            <table style="width:50%" border="0">
                <tr>
                    <td>
                        <a href="documentos/prevencion.pdf" download="prevencion">
                            <img src="img/prevencion.png" alt="prevencion" width="220" height="150">
                        </a>
                    </td>
                    <td>
                        <a href="documentos/covid.pdf" download="covid">
                            <img src="img/covid.png" alt="prevencion" width="220" height="150">
                        </a>
                    </td>
                    <td>
                        <a href="documentos/triptico_4Ts.pdf" download="prevencion">
                            <img src="img/triptico_4Ts.png" alt="prevencion" width="220" height="150">
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <iframe width="220" height="140" src="https://www.youtube.com/embed/vcw60Ix-zsQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                        </iframe>
                    </td>
                    <td>
                        <video width="220" height="150" controls>
                            <source src="videos/video01_19052022.mp4" type="video/mp4">
                            Navegador no compatible.
                        </video>
                    </td>
                </tr>
            </table>
        </div>
    </section>
    <section th:fragment="banner_principal">
        <div class="d-flex justify-content-center">
            <!------------------------------------- THE CONTENT ------------------------------------------------->
            <div id="jslidernews1" class="lof-slidecontent" style="width:980px; height:340px;">
                <div class="preload"><div></div></div>
                <!-- MAIN CONTENT -->
                <div class="main-slider-content" style="width:980px; height:340px;">
                    <ul class="sliders-wrap-inner">
                        <li>
                            <a href="https://ecco.rhnet.gob.mx/" target="_blank">
                                <img src="images/thumbl_980x340_007.png" title="Newsflash 7">
                            </a>
                            <div class="slider-description">
                                <div class="slider-meta"><a target="_parent" title="Newsflash 7" th:text="#{baner.titulo.noticia7}" href="#">Titulo noticia 7</a></div>
                                <h4 th:text="#{baner.subtitulo.noticia7}"></h4>
                                <p th:text="#{baner.descripcion.noticia7}"></p>
                            </div>
                        </li>
                        <li>
                            <a href="#" data-toggle="modal" data-target="#noticia1">
                                <img src="images/thumbl_980x340.jpg" title="Newsflash 1">
                            </a>
                            <div class="slider-description">
                                <div class="slider-meta"><a target="_parent" title="Newsflash 1" th:text="#{baner.titulo.noticia1}" href="#">Titulo noticia 1</a></div>
                                <h4 th:text="#{baner.subtitulo.noticia1}"></h4>
                                <p th:text="#{baner.descripcion.noticia1}"></p>
                            </div>
                        </li>
                        <li>
                            <a href="#" data-toggle="modal" data-target="#noticia2">
                                <img src="images/thumbl_980x340_002.jpg" title="Newsflash 2">
                            </a>
                            <div class="slider-description">
                                <div class="slider-meta"><a target="_parent" title="Newsflash 2" th:text="#{baner.titulo.noticia2}" href="#">Titulo noticia 2</a><!--<i> — Monday, February 15, 2010 12:42</i>--></div>
                                <h4 th:text="#{baner.subtitulo.noticia2}"></h4>
                                <p th:text="#{baner.descripcion.noticia2}"></p>
                            </div>
                        </li>
                        <li>
                            <a href="#" data-toggle="modal" data-target="#noticia3">
                                <img src="images/thumbl_980x340_003.jpg" title="Newsflash 3">
                            </a>
                            <div class="slider-description">
                                <div class="slider-meta"><a target="_parent" title="Newsflash 3" th:text="#{baner.titulo.noticia3}" href="#"></a><!--<i> — Monday, February 15, 2010 12:42</i>--></div>
                                <h4 th:text="#{baner.subtitulo.noticia3}"></h4>
                                <p th:text="#{baner.descripcion.noticia3}"></p>
                            </div>
                        </li>
                        <li>
                            <a href="https://climss.imss.gob.mx/" target="_blank">
                                <img src="images/thumbl_980x340_004.jpg" title="Newsflash 4">
                            </a>
                            <div class="slider-description">
                                <div class="slider-meta"><a target="_parent" title="Newsflash 4" th:text="#{baner.titulo.noticia4}" href="#">Titulo noticia 1</a></div>
                                <h4 th:text="#{baner.subtitulo.noticia4}"></h4>
                                <p th:text="#{baner.descripcion.noticia4}"></p>
                            </div>
                        </li>
                        <li>
                            <a href="#" data-toggle="modal" data-target="#noticia5">
                                <img src="images/thumbl_980x340_005.png" title="Newsflash 5">
                            </a>
                            <div class="slider-description">
                                <div class="slider-meta"><a target="_parent" title="Newsflash 5" th:text="#{baner.titulo.noticia5}" href="#"></a><!--<i> — Monday, February 15, 2010 12:42</i>--></div>
                                <h4 th:text="#{baner.subtitulo.noticia5}"></h4>
                                <p th:text="#{baner.descripcion.noticia5}"></p>
                            </div>
                        </li>
                        <li>
                            <a href="http://edumed.imss.gob.mx/bCurso/" target="_blank">
                                <img src="images/thumbl_980x340_006.png" title="Newsflash 6">
                            </a>
                            <div class="slider-description">
                                <div class="slider-meta"><a target="_parent" title="Newsflash 6" th:text="#{baner.titulo.noticia6}" href="#">Titulo noticia 1</a></div>
                                <h4 th:text="#{baner.subtitulo.noticia6}"></h4>
                                <p th:text="#{baner.descripcion.noticia6}"></p>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- END MAIN CONTENT -->
                <!-- NAVIGATOR -->
                <div class="navigator-content">
                    <div class="button-next">Next</div>
                    <div class="navigator-wrapper">
                        <ul class="navigator-wrap-inner">
                            <li><img src="images/thumbs/thumbl_70x25_007.png" /></li>
                            <li><img src="images/thumbs/thumbl_980x340.jpg" /></li>
                            <li><img src="images/thumbs/thumbl_980x340_002.jpg" /></li>
                            <li><img src="images/thumbs/thumbl_980x340_003.jpg" /></li>
                            <li><img src="images/thumbs/thumbl_980x340_004.jpg" /></li>
                            <li><img src="images/thumbs/thumbl_70x25_005.png" /></li>
                            <li><img src="images/thumbs/thumbl_70x25_006.png" /></li>
                        </ul>
                    </div>
                    <div  class="button-previous"></div>
                </div>
                <!----------------- END OF NAVIGATOR --------------------->
                <!-- BUTTON PLAY-STOP -->
                <div class="button-control"><span></span></div>
                <!-- END OF BUTTON PLAY-STOP -->
            </div>
            <br/>
            <!--------------------------- END OF THE CONTENT --------------------------------------->
        </div>
    </section>
    <header th:fragment="header">
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark p-0">
            <div class="container">
                <a th:href="@{/}" class="navbar-brand" th:text="#{plantilla.titulo}">Control de solicitudes</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav">
                        <li class="nav-item px-2">
                            <a th:href="@{/}" class="nav-link active" th:text="#{barra.titulo}">Inicio</a>
                        </li>
                    </ul>
                    <ul sec:authorize="isAuthenticated()" class="navbar-nav ml-auto">
                        <li class="nav-item mr-3">
                            <a href="#" class="nav-link">
                                <i class="fas fa-user"></i>
                                <span th:text="#{barra.bienvenido}">Bienvenido:</span>
                                <span sec:authentication="name">Usuario</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <form method="post" th:action="@{/logout}">
                                <a href="#" onclick="this.parentNode.submit();" class="nav-link">
                                    <i class="fas fa-user-times"></i> [[#{barra.salir}]]
                                </a>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <section id="main-header" class="py-2 bg-info text-white">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <img src="img/sntss-imss-logo.png" class="rounded float-left" alt="sntss_logo" onerror="this.onerror=null; this.src='../img/sntss-imss-logo.png'" width="120" height="100">
                    </div>
                    <div class="col-md-6">
                        <h1 class="d-flex justify-content-center">
                            [[#{plantilla.titulo}]]
                        </h1>
                    </div>
                    <div class="col-md-4">
                        <img src="img/seccion37.png" class="rounded float-right" alt="Logo_seccion37" onerror="this.onerror=null; this.src='../img/seccion37.png'" width="250" height="100">
                    </div>
                </div>
            </div>
        </section>
        <section id="second-header" class="p-2 mb-1 bg-success text-white">
            <div class="container">
                <div class="row">
                    <div class="col-md-10">
                        <h2 class="d-flex justify-content-center">
                            [[#{plantilla.subtitulo}]]
                        </h2>
                    </div>
                </div>
            </div>
        </section>
    </header>
    <footer th:fragment="footer" class="bg-secondary text-white mt-5 p-2">
        <div class="container">
            <div class="col">
                <p class="lead text-center">
                    <!--<a th:href="@{/(lang=es)}">ES</a> |
                    <a th:href="@{/(lang=en)}">EN</a> |-->
                    <span> [[#{plantilla.pie-pagina}]] &copy; <!--<a href="#" target="_blank"></a>--></span>
                </p>
            </div>
        </div>
    </footer>
</body>
</html>