<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/plantilla :: head">
    <meta charset="UTF-8">
    <title>Control de solicitudes</title>
</head>
<body>
<header th:replace="layout/plantilla :: header"></header>
<section sec:authorize="hasRole('ROLE_ADMIN')" th:replace="layout/botonesAgregar :: agregarInformacion"></section>
<section th:replace="layout/listadoInformacion :: listadoInformacion"></section>
<section th:replace="layout/agregarInformacion :: agregarInformacion"></section>
<footer th:replace="layout/plantilla :: footer"></footer>
</body>
</html>