<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/plantilla :: head">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>IMSS</title>
</head>
<body>

<section th:replace="layout/agregarTrabajador :: agregarTrabajador"></section>
<header th:replace="layout/plantilla :: header"></header>
<br>
<section th:replace="layout/plantilla :: banner_principal"></section>
<section th:replace="layout/muestraPdfs :: noticia1"></section>
<br>
<section th:replace="layout/plantilla :: sec_login"></section>
<br>
<section th:replace="layout/plantilla :: otros-anuncios"></section>
<footer th:replace="layout/plantilla :: footer"></footer>
</body>
</html>
